h1 {
    font-size: 90px;
    font-weight: normal;
    color: red;
  }

  .Square{
    height: 80px;
    width: 80px;
    position: absolute;
    /* Add background-color, left, top to each div elements, unique */
  }
  